<%=turbo_stream_from "slot-machine" %>
<div class="w-full flex flex-col items-center bg-gradient-to-b from-indigo-200 to-blue-100 min-h-screen pt-36">
  <div class="absolute top-0 text-center itext=black-500 text-2xl" id="money">
    <%= render "money", money: session[:money] %>
   </div>
  <h1 class="font-bold text-4xl text-center">Slot Machine</h1>
  <p class="text-center">Place The Bet</p>
  <div class="max-w-2xl mx-auto rounded-lg bg-gray-100 w-full overflow-hidden py-6">
    <div class="grid grid-cols-3 gap-8 w-3/4 mx-auto" id="slots">
      <div class="h-40 w-full bg-white p-4">
        <%= image_tag "ruby.png", class: "w-full object-cover" %>
      </div>
      <div class="h-40 w-full bg-white p-4">
        <%= image_tag "peach.png", class: "w-full object-cover" %>
      </div>
      <div class="h-40 w-full bg-white p-4">
        <%= image_tag "pluto.png", class: "w-full object-cover" %>
      </div>
    </div>
  </div>
  <br/>
  <%= link_to "Roll", spins_path, class: "bg-gradient-to-r from-indigo-500 to-pink-500 rounded-lg p-2 w-16 text-center", data: { turbo_method: :post } %>
  <br/>
  <div class="rounded-lg bg-gray-100 max-w-2xl w-full mx-auto flex flex-col gap-4">
    <div class=" text-2xl flex gap-2 items-center">
      <span> 3 x </span>
      <%= image_tag "ruby.png", class: "object-cover h-10 w-10" %>
      <span class="text-green-500 font-bold">: $1000 </span>
    </div>

    <div class=" text-2xl flex gap-2 items-center">
      <span> 3 x </span>
      <%= image_tag "peach.png", class: "object-cover h-10 w-10" %>
      <span class="text-green-500 font-bold">: $500 </span>
      </div>

    <div class=" text-2xl flex gap-2 items-center">
      <span> 3 x </span>
      <%= image_tag "pluto.png", class: "object-cover h-10 w-10" %>
      <span class="text-green-500 font-bold">: $300 </span>
    </div>

    <div class=" text-2xl flex gap-2 items-center">
      <span> 2 x </span>
      <%= image_tag "ruby.png", class: "object-cover h-10 w-10" %>
      <span class="text-green-500 font-bold">: $200 </span>
    </div>

    <div class=" text-2xl flex gap-2 items-center">
      <span> 1 x </span>
      <%= image_tag "ruby.png", class: "object-cover h-10 w-10" %>
      <span class="text-green-500 font-bold">: $100 </span>
    </div>
    </div>
</div>
