<div class="grid grid-cols-3 gap-8 w-3/4 mx-auto" id="slots">
  <% spin.values.each do |value| %>
    <div class="h-40 w-full bg-white p-4 overflow-y-scroll hidden-scrollbar" data-controller="slot-spinner" data-slot-spinner-number-value="<%= value %>">
      <%= image_tag "ruby.png", class: "w-full object-cover" %>
      <%= image_tag "peach.png", class: "w-full object-cover" %>
      <%= image_tag "pluto.png", class: "w-full object-cover" %>

      <%= image_tag(
        { "1": "ruby.png", "2": "peach.png", "3": "pluto.png" }[value.to_s.to_sym], 
         class: "hidden w-full object-cover", 
         data: { slot_spinner_target: "image" }) %>
    </div>
  <% end %>
</div>
